@import "tailwindcss";

@import "./theme.css";

:root {
  --background: var(--color-fb-bg);
  --foreground: var(--color-fb-text-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-fb-dark-bg);
    --foreground: var(--color-fb-text-light);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-fb-gray-dark);
  border-radius: 20px;
}

/* Hide scrollbar by default, show on hover */
.hover-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}
.hover-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-fb-gray-dark) !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
